# Compiled C Engine
native-engine/build/*.so
native-engine/build/*.dll
native-engine/build/*.o

# Android junk
.gradle/
build/
*.iml
local.properties
android-client/.idea/
android-client/app/.cxx/
android-client/**/build/

# Ruby dependencies
vendor/bundle/
.bundle/
*.log

# Sensitive configuration
backend-server/config/database.yml